<h1><%= @house.name %></h1>
<h3><%=@house.motto%></h3>
<p><%= link_to "Add a Character to this House!", new_house_character_path(@house)%> | <%= link_to "Edit this House", edit_house_path(@house)%></p>

<% @house.characters.each do |character| %>
  <div class="characters">
    <h2><%=link_to character.name, house_character_path(@house, character) %></h2>
    <!-- Link here to go to character show page -->
    <%= image_tag character.img_url %>
  </div>
<% end %>
